* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
  }
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  ::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
  body {
    font-family:"Roboto",sans-serif;
    background:#f5f5f5;
  }
  .login-form {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:90%;
    max-width:450px;
    background:#fff;
    padding:20px 30px;
    box-shadow:0px 5px 10px rgba(0,0,0,0.1);
  }
  .login-form .form-title {
    font-family:"Montserrat",sans-serif;
    text-align:center;
    font-size:30px;
    font-weight:600;
    margin:20px 0px 30px;
    color:#111;
  }
  .login-form .form-input {
    margin:10px 0px;
  }
  .login-form .form-input label,
  .login-form .captcha label {
    display:block;
    font-size:15px;
    color:#111;
    margin-bottom:5px;
  }
  .login-form .form-input input {
    width:100%;
    padding:10px;
    border:1px solid #888;
    font-size:15px;
  }
  .login-form .captcha {
    margin:15px 0px;
  }
  .login-form .captcha .preview {
    color:#555;
    width:100%;
    text-align:center;
    height:40px;
    line-height:40px;
    letter-spacing:8px;
    border:1px dashed #888;
    font-family:"monospace";
  }
  .login-form .captcha .preview span {
    display:inline-block;
    user-select:none;
  }
  .login-form .captcha .captcha-form {
    display:flex;
  }
  .login-form .captcha .captcha-form input {
    width:100%;
    padding:8px;
    border:1px solid #888;
  }
  .login-form .captcha .captcha-form .captcha-refresh {
    width:40px;
    border:none;
    outline:none;
    background:#888;
    color:#eee;
    cursor:pointer;
  }
  .login-form #login-btn {
    margin-top:5px;
    width:100%;
    padding:10px;
    border:none;
    outline:none;
    font-size:15px;
    text-transform:uppercase;
    background:#4c81ff;
    color:#fff;
    cursor:pointer;
  }
  .login-form #reset-btn {
    margin-top:5px;
    width:100%;
    padding:10px;
    border:none;
    outline:none;
    font-size:15px;
    text-transform:uppercase;
    background:#b44020;
    color:#fff;
    cursor:pointer;
  }

  footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
  }
  .navbar_dark{
    padding-top: 20px;
  }
  
  .navbar_dark{
    margin-top:2% ;
  }
  nav{
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .topnav a.right{
    float:right

  }
  .jk{
    margin-bottom: 60px;
  } 
   
  .jk h1{
    padding-left:30%;
    font-size: 40px;
    font-family:"Kingthings Foundation";
    margin-top:2%;
  }
  
  .jk img{
    
    position: absolute;
    top:8px;
    left:16px;
    
    /* top: 1px; */
  
  }
  form{
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
  
  
  }

  input[type=text], select {
    width: 20%;
    padding: 5px 10px;
    margin:8px,0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
  }
  input[type=number] {
    width: 20%;
    padding: 5px 10px;
    margin:8px,0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
  }
  

  
  input[type=submit] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  input[type=reset] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=reset]:hover {
    background-color: #45a049;
  }
  
  label{
    display: block;
  }
