html,body{
  height: 100%;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  ::-webkit-scrollbar {
    width: 4px;;
    height: 4px;
  }
  
  ::-webkit-scrollbar-thumb {
    background:purple;
  }

  body {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: lightgrey;
    
  }
  
  
 

  .login-form {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 450px;
    background: #fff;
    padding: 8px 18px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .login-form .form-title {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin: 18px 5px 30px;
    color: #111;
  }
  .login-form .form-input {
    margin: 10px 0px;
  }
  .login-form .form-input label,
  .login-form .captcha label {
    display: block;
    font-size: 15px;
    color: #111;
    margin-bottom: 5px;
  }
  .login-form .form-input input{
    width: 100%;
    padding: 10px;
    border: 1px solid #888;
    font-size: 15px;
  }
  .login-form .form-input select{
    width: 100%;
    padding: 10px;
    border: 1px solid #888;
    font-size: 15px;
  }
  .login-form .captcha {
    margin: 15px 0px;
  }
  .login-form .captcha .preview {
    color: #555;
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    letter-spacing: 8px;
    border: 1px dashed #888;
    font-family: "monospace";
  }
  .login-form .captcha .preview span {
    display: inline-block;
    user-select: none;
  }
  .login-form .captcha .captcha-form {
    display: flex;
  }
  .login-form .captcha .captcha-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #888;
  }
  .login-form .captcha .captcha-form .captcha-refresh {
    width: 40px;
    border: none;
    outline: none;
    background: #888;
    color: #eee;
    cursor: pointer;
  }
  .login-form #login-btn {
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    text-transform: uppercase;
    background: #4c81ff;
    color: #fff;
    cursor: pointer;
  }
  .login-form #signup-btn {
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    text-transform: uppercase;
    background: #b44020;
    color: #fff;
    cursor: pointer;
  }
  
  .topbar {
    padding: 8px 0;
    background-color: #162E57;
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  .topbar ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    
  }
  .topbar li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0 10px 0 0;
    border-right: 1px solid #999999;
    
  }
  .topbar a{
    color: #FFFFFF;
    text-decoration: none;
    
  } 
  .navbar-dark {
  margin-top: 4%;
  }
  nav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04aa6d;
    color: white;
  }
  
  .topnav a.right {
    float: right;
  }
  
.jk p{
    
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    font-size: 35px;
    margin-top:3%;
 }
 
 .footer-bottom-wrapper{
	box-sizing: border-box;
	text-align:center!important;
  margin-top: 0%;
  margin-bottom: 0%;
  font-family:Georgia, "Times New Roman", Times, serif;
  background-color: #213244;
  color: #ffffff;
  padding: 8px;
 
}
.footer-content a{
  color: #a3d2f9;

}
.slides{
  
  background-color:grey;
  margin-top: 3%;
  display: flex;
  
  
  
  
 
}
.slides li{
list-style-type: none;
padding: 70px;
}


  
  
 

  .logo img {
    position: absolute;
    margin-top: 0.5%;
    left: 16%;
    
  }
  /*form {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
  }*/
  
  input[type="text"],
  select {
    width: 20%;
    padding: 5px 10px;
    margin: 8px, 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
  }
  input[type="number"] {
    width: 20%;
    padding: 5px 10px;
    margin: 8px, 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    width: 20%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  input[type="register"] {
    width: 20%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="register"]:hover {
    background-color: #45a049;
  }
  input[type="Reset"] {
    width: 20%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="Reset"]:hover {
    background-color: #45a049;
  }
  
  .form-group2 {
    box-sizing: border-box;
    float: right;
  }
  .headers {
    margin-top: 5px;
  }
  .headers p {
    display: inline;
    padding-left: 13%;
    color: #b44020;
  
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .num p {
    display: inline;
    padding-left: 12%;
    padding-right: 7.5%;
    color: #b44020;
    font-size: 17px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .left {
    float: left;
    margin-bottom: 0%;
    margin-top: 3.5%;
    padding-left: 3%;
  }
  .left p {
    margin-top: 8%;
    color: #b44020;
    font-size: 1.2rem;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .Gimage {
    margin-top: 2%;
    text-align: center;
    padding-left: 20%;
  }
  .Gpie {
    float: right;
    margin-top: 3.5%;
    margin-right: 2%;
  }
  
  .Gpie p {
    padding-top: 5%;
    padding-left: 15%;
    color: #b44020;
    font-size: 1.1rem;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  #sub-form {
    background-color: rgb(249, 243, 243);
    border: 6px solid rgb(21, 21, 21);
    margin: 8px 10px 10px 10px;
  }
  
  .some-page-wrapper {
    margin: 30px 5px 5px 5px;
  }
  .form-group select, option{
    width:200px;
  }
  .form-group input[type=text]
  
  {
    width:200px;
  }
  
  .row {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 5px;
  }
  
  .column {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .child-column {
    height: 100px;
  }
  
  @media screen and (min-width: 800px) {
    .column {
      flex: 1;
    }
  
    .double-column {
      flex: 2;
    }
  }
  .btns {
    text-align: center;
    
  }
  .btn {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }